.main-container {
    display: flex;
    justify-content: space-around;
}

.cart-container {
    width: 300px;
    box-shadow: 4px 4px 8px gray;
}

.card-img {
    width: 331px;
    height: 200px;
    border-radius: 15px;
}

.cards-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color:azure;
    padding: 10px; 
    /* border: 2px solid gray; */
}

.card-item{
    background-color:cornsilk;
    border: 2px solid gainsboro;
    padding: 10px;
    border-radius: 15px;
}